.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.conteudo-principal {
    margin-top: 100px;
}

@media (max-width: 560px) {
    .conteudo-principal {
        margin-top: 175px;
    }
}