.formulario {
    background: none;
    color: #848484;
    font-family: 'Comfortaa';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__conteudo {
        border-radius: 35px;
        padding: 50px 70px;
        flex: 1 1 500px;
    }
    &__titulo {
        text-align: center;
        padding: 0 20px;
        font-size: 2.8rem;
        font-weight: 300;
        color: $cor_principal;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__campo {
        margin-bottom: 30px;
        
    }
    &__campo-label {
        color: #ddd;
        & span{
            color: $cor_principal;
            font-weight: 300;
        }
    }
    &__campo-input {
        display: block;
        width: 100%;
        outline: none;
        background: none;
        border: 1px solid #848484;
        padding: 15px;
        border-radius: 25px;
        color: #fff;
        margin-top: 10px;
    }
    &__campo-text-area {
        background: none;
        width: 100%;
        height: 300px;
        display: block;
        padding: 20px;
        outline: none;
        margin-top: 10px;
        border-radius: 25px;
        resize: none;
        color: #fff;
        line-height: 22px;
    }
    &__button {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        outline: none;
        background: none;
        color: $cor_principal;
        border: 1px solid $cor_principal;
        border-radius: 20px;
        padding: 15px 60px;
        cursor: pointer;
        position: relative;
        transition: 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    &__button:hover {
        color: #fff;
        background-color: $cor_principal;
        transform: scale(1.05);
    }
    &__redirecionar{
        display: block;
        text-decoration: none;  
        color: #ddd;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        & span{
            color: $cor_principal;
        }

        &:hover{
            text-decoration: underline;
        }
    }
    &__imagem-container {
        flex: 1 1 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__imagem {
        width: 500px;
        display: block;
    }
}

@media (max-width: 1115px) {
    .formulario {
        &__conteudo {
            padding: 20px;
        }
        &__imagem-container {
            margin-bottom: 20px;
            order: -1;
        }
        &__imagem {
            width: 300px;
            transform: translateX(-30px);
        }
    }
}