.explorar__header{
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
    align-items: center;
    &__flex-item {
        margin: 0;
    }
    & h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 4.8rem;
        line-height: 63px;
        letter-spacing: 0.03em;
        color: #FFFFFF;       
        text-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
    }

    & .barra-pesquisa__explorar {
        height: 55px;
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 40px;
        padding: 10px 5px 10px 10px;
        background: none;
        border: 1px solid #848484;
        transition: 0.3s ease-in;
        
        & input#inputPesquisaReceita {
            width: 100%;
            color: #fff;
            border: none;
            background: none;
            outline: none;
            padding: 0px;
            line-height: 40px;
            transition: 0.3s ease-in;
            font-family: 'Montserrat', sans-serif;
        }

        & .icone-search-button {
            width: 40px;
            height: 40px;
            font-size: 20px;
            color: #848484;
            border-radius: 50%;
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
        }
    }

    & .botao{
        width: 200px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;   
        padding: 0 10px;
        
    }
    .icone-envie-receita{
        margin-left: 10px;
        font-size: 20px;
    }
}

@media (max-width: 1010px) {
    .explorar__header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start; 
        &__flex-item {
            margin-bottom: 20px;
        }
        & .barra-pesquisa__explorar {
            width: 100%;
        }
        & .botao{
            width: 200px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;   
            padding: 0 10px;
            
            align-self: center;
        }
    }
}

