.card-receitas {
    margin-top: 0px;
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        gap: 60px;
    }
    .card {
        transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer;
        @media(min-width: 560px) {
            .icone-favorito {
                opacity: 0;
                transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }
        position: relative;
        &__top {
            position: absolute;
            top: 0;
            transform: translate(-0%, -50%);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            z-index: 1;
            & .container-img {
                transform: translateX(-50%);
                width: 85px;
                height: 85px;
                border-radius: 50%;
                overflow: hidden;
                & img {
                    object-fit: cover;
                    width: 100%;
                    height: 100px;
                }
            }
        }
        &__conteudo {
            
            background: rgb(38,50,56);   
            background: radial-gradient(circle at 90% 0%, 
            rgba(18,20,22,1),
            rgba(22,27,29,1), 
            rgba(26,33,36,1), 
            rgba(38,50,56,1));
            padding: 20px 30px;
            border-radius: 20px;
            font-family: 'Montserrat', sans-serif, arial;
            font-size: 1.5rem;
            position: relative;
            overflow: hidden;
            &__titulo {
                font-size: 1.8rem;
                text-align: center;
                margin: 0;
            }
            &__descricao {
                margin: 20px 0 10px 0;
                font-weight: 550;
            }
            &__bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    margin-bottom: 5px;
                }
                &__serve{
                    color: #848484;           
                }

                &__avaliacao{
                    align-self: flex-end;
                }
            }
        }
        &:hover{
            transform: scale(1.016);
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        }
    }
    .card:hover svg.icone-favorito {
        opacity: 1;
    }
}

@media (max-width: 560px) {
    .card-receitas {
        margin-top: 80px;
    }
}